---
layout: default
---

<div id="reading-progress-bar"></div>

<article class="post-container" itemscope itemtype="https://schema.org/BlogPosting">

  {% include breadcrumbs.html %}

  <h1 itemprop="headline" style="view-transition-name: post-{{ page.slug }};">{{ page.title }}</h1>

  <div class="post-header-meta">
    <span class="post-meta-author">{{ site.data[site.active_lang].strings.author_name }}</span>
    <span class="post-meta-sep">|</span>
    <time class="post-meta-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y"
      }}</time>
    {% assign words = content | strip_html | number_of_words %}
    {% assign read_time = words | divided_by: 160 %}
    {% if read_time == 0 %}{% assign read_time = 1 %}{% endif %}
    <span class="post-meta-sep">|</span>
    <span class="post-meta-reading">{{ read_time }} {{ site.data[site.active_lang].strings.min_read }}</span>
  </div>
  <hr class="post-header-rule">

  {% include translation-banner.html %}

  {% if page.toc %}
  <nav class="toc" aria-label="Table of Contents">
    <h3 class="toc__heading">Contents</h3>
    {{ content | toc_only }}
  </nav>
  {% endif %}

  <div itemprop="articleBody">
    {% if page.toc %}
    {{ content | toc | replace: '<img', '<img loading="lazy"' }} {% else %} {{ content | replace: '<img'
      , '<img loading="lazy"' }} {% endif %} </div>

      {% include post-labels.html %}

      {% include author_box.html %}

</article>

{% include metadata/json-ld.html type="BlogPosting" %}

{% include related-bento.html %}